.header{ 
	background-image: url('rats.jpeg');
}
img{
	border-radius: 50px;
	width: 400px; height: 600px;
}
.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
h1{
	text-align: center;
	color: pink;
	background-color: black;
	font-family: times new roman;
	font-size: 300%;
} 
h2{
	text-align: center;
	color: pink;
	background-color: black;
	font-family: Times new roman;
	font-size: 200%;
}
p{
	text-align: center;
	color: black;
	font-family: courier new;
	text-decoration: underline overline dotted lightpink;
	font-size: 150%
}
.my-button{
		display: block;
		border-color: ghostwhite;
		border-radius: 10px;
		margin: auto;
		color: black;
		font-family: courier new;
		font-size: 24px;
		background-color: #F8F8FF;	
}
.my-button:hover{
	transition-duration: 1s;
	background-color: lavenderblush;
}
.other-button1{
	color: floralwhite;
	border-radius: 7px;
	border-color: white;
	font-family: courier new;
	font-size: 20px;
	height: 34px;
	padding-top: 1px;
	padding-bottom: 0px;
	background-color: #000000
}
.other-button2{
	color: floralwhite;
	border-radius: 7px;
	border-color: white;
	font-family: courier new;
	font-size: 20px;
	height: 34px;
	padding-top: 1px;
	padding-bottom: 0px;
	background-color: #000000
}
.other-button3{
	color: floralwhite;
	border-radius: 7px;
	border-color: white;
	font-family: courier new;
	font-size: 20px;
	height: 34px;
	padding-top: 1px;
	padding-bottom: 0px;
	background-color: #000000
}
.other-button4{
	color: floralwhite;
	border-radius: 7px;
	border-color: white;
	font-family: courier new;
	font-size: 20px;
	height: 34px;
	padding-top: 1px;
	padding-bottom: 0px;
	background-color: #000000
}
.other-button5{
	color: floralwhite;
	border-radius: 7px;
	border-color: white;
	font-family: courier new;
	font-size: 20px;
	height: 34px;
	padding-top: 1px;
	padding-bottom: 0px;
	background-color: #000000
}
.other-button6{
	color: floralwhite;
	border-radius: 7px;
	border-color: white;
	font-family: courier new;
	font-size: 20px;
	height: 34px;
	padding-top: 1px;
	padding-bottom: 0px;
	background-color: #000000
}
.other-button7{
	color: floralwhite;
	border-radius: 7px;
	border-color: white;
	font-family: courier new;
	font-size: 20px;
	height: 34px;
	padding-top: 1px;
	padding-bottom: 0px;
	background-color: #000000
}
.other-button1:hover{
	transition-duration: 1s;
	background-color: pink;
	color: black;
}
.other-button2:hover{
	transition-duration: 1s;
	background-color: pink;
	color: black;
}
.other-button3:hover{
	transition-duration: 1s;
	background-color: pink;
	color: black;
}
.other-button4:hover{
	transition-duration: 1s;
	background-color: pink;
	color: black;
}
.other-button5:hover{
	transition-duration: 1s;
	background-color: pink;
	color: black;
}
.other-button6:hover{
	transition-duration: 1s;
	background-color: pink;
	color: black;
}
.other-button7:hover{
	transition-duration: 1s;
	background-color: pink;
	color: black;
}
.container{
	margin: 0;
	position: absolute;
	margin-left: 20%;
	margin-right: 20%;
}